@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Sulphur+Point&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color:antiquewhite ;
}
nav{
font-family: 'Roboto Condensed', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.logo img{
    width: 42px;
    padding: 0 8px;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.options{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#progressbar{
    width: 80vw;
    text-align: center;
}
.songitems{
    margin-top: 34px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
width: 43px;
margin: 0 23px ;
border-radius: 34px;
}

.timest{
    margin: 0 23px;
}
.timest i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition:opacity 1a ease-in;
}